language: android
android:
  components:
    - tools
    - build-tools-28.0.3
    - android-27
    - android-28
    - extra-android-m2repository
    - extra-android-support

#  licenses:
#    - 'android-sdk-preview-license-52d11cd2'
#    - 'android-sdk-license-.+'
#    - 'google-gdk-license-.+'

# Emulator Management: Create, Start and Wait
before_script:
  - chmod +x gradlew

script:
   - ./gradlew assembleRelease

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache