<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.nicolite.huthelper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 信鸽推送 -->
    <permission
        android:name="cn.nicolite.huthelper.permission.XINGEPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <!-- 融云推送 -->
    <permission
        android:name="cn.nicolite.huthelper.permission.RONGYUN_RECEIVE"
        android:protectionLevel="signature" />

    <!--小米推送-->
    <permission
        android:name="cn.nicolite.huthelper.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.nicolite.huthelper.permission.MIPUSH_RECEIVE" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.MApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppSplash"
        tools:replace="android:allowBackup">
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.WebViewActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ShowImageActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.AboutActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.FeedBackActivity"
            android:theme="@style/AppTheme" />

        <!--会话列表-->
        <activity
            android:name=".view.activity.ConversationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="cn.nicolite.huthelper"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--聚合会话列表-->
        <activity
            android:name=".view.activity.SubConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="io.rong.fast"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--会话界面-->
        <activity
            android:name=".view.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="cn.nicolite.huthelper"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.UserInfoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ElectricActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ExamActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.OffsiteLoginDialogActivity"
            android:theme="@style/Transparent" />

        <activity
            android:name=".view.activity.ExpLessonActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CareerTalkActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CareerTalkItemActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.MarketActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.GoodsInfoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SearchActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SearchResultActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CreateGoodsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.UserInfoCardActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.LostAndFoundActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CreateLostAndFoundActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.LostAndFoundInfoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.GradeRankActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.GradeListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.AllActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CalendarActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.FreshmanGuideActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SyllabusActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SayActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".services.LoginService" />

        <!-- 融云-->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONG_CLOUD_KEY}" />

        <provider
            android:name=".provider.RongIMFileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receiver.RongIMNotificationReceiver"
            android:exported="true"
            android:permission="cn.nicolite.huthelper.permission.RONGYUN_RECEIVE">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${GAODE_APIKEY}" />
        <!-- 高德地图结束 -->

        <!-- 腾讯bugly -->
        <provider
            android:name=".provider.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <!-- 小米推送 -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"
            android:permission="cn.nicolite.huthelper.permission.MIPUSH_RECEIVE" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:permission="cn.nicolite.huthelper.permission.MIPUSH_RECEIVE"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <!-- 小米推送结束 -->

        <!-- 融云小米推送 配置开始 < -->
        <receiver
            android:name="io.rong.push.platform.MiMessageReceiver"
            android:exported="true"
            android:permission="cn.nicolite.huthelper.permission.RONGYUN_RECEIVE">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 融云小米推送 配置结束 < -->

        <!-- Glide 使用OkHttp作为网络连接-->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

        <!-- 信鸽推送 -->
        <receiver
            android:name=".receiver.XinGeReceiver"
            android:exported="true"
            android:permission="cn.nicolite.huthelper.permission.XINGEPUSH_RECEIVE">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>