<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.nicolite.huthelper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- 信鸽推送 -->
    <permission
        android:name="cn.nicolite.huthelper.permission.XINGEPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.nicolite.huthelper.permission.MIPUSH_RECEIVE" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.MApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".view.activity.SplashActivity"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainActivity" />

        <activity
            android:name=".view.activity.LoginActivity"
            android:theme="@style/MainActivity" />

        <activity
            android:name=".view.activity.WebViewActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ShowImageActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.AboutActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.FeedBackActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.UserInfoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ElectricActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.ExamActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.OffsiteLoginDialogActivity"
            android:theme="@style/Transparent" />

        <activity
            android:name=".view.activity.ExpLessonActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CareerTalkActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CareerTalkItemActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.MarketActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.GoodsInfoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SearchActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SearchResultActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CreateGoodsActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.UserInfoCardActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.LostAndFoundActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CreateLostAndFoundActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.LostAndFoundInfoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.GradeRankActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.GradeListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.AllActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CalendarActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.FreshmanGuideActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SyllabusActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SyllabusItemActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.SayActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.CreateSayActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.NoticeActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".view.activity.NoticeItemActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".services.LoginService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Glide 使用OkHttp作为网络连接-->
        <!--<meta-data-->
        <!--android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"-->
        <!--android:value="GlideModule" />-->
        <!--自定义下载进度监听-->
        <meta-data
            android:name="cn.nicolite.huthelper.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

        <!-- 信鸽推送 -->
        <receiver
            android:name=".receiver.XinGeReceiver"
            android:exported="true"
            android:permission="cn.nicolite.huthelper.permission.XINGEPUSH_RECEIVE">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.CourseWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/coursewidget_provider_info" />
        </receiver>

    </application>

</manifest>